body {
  margin:0;
  font-family:sans-serif;
  background:#111;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container {
  text-align:center;
}

button {
  display:block;
  margin:10px auto;
  padding:12px 20px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}